 <!DOCTYPE html>
<html>
<head>
	 
</head>
<body>
 
 
<input type="button" onclick="t()" value="Json button"  >
</body>
</html>
	<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
 

 var t=function  (){
	alert('lkkkkkk');
// var obj = {
//     foo:    'bar',
//     base:   'ball'
// };

// for(var key in obj) {
//     alert('key: ' + key + '\n' + 'value: ' + obj[key]);
// }
// 	var employees =  {
// "employees": [
// { "firstName":"John" , "lastName":"Doe" }, 
// { "firstName":"Anna" , "lastName":"Smith" }, 
// { "firstName":"Peter" , "lastName":"Jones" }
// ]
// };
//  }
//var j={"a":"aaa"};
 // var v = employees.employees[1].firstName;
 //alert(j.a);
</script>